@import 'src/styles/global';
$card-content-height: normalize(400);
$card-searchbox-height: normalize(120);
.cardContent {
    height: $card-content-height;
    width: $card-content-height;
}

.searchBox {
    display: flex;
    flex-direction: column;
    height: $card-searchbox-height;
}

.innerCardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - #{$card-searchbox-height});
}

.searchResults {
    overflow: scroll;
}

.searchButton {
    margin-top: normalize(20) !important;
}
