@import 'src/styles/global';
$card-content-width: normalize(300);
$card-searchbox-height: normalize(160);

.container {
    padding: normalize(20);
    max-width: normalize(800);
    width: 100%;
}

.cardContent {
    height: 100%;
    min-width: $card-content-width;
    padding-bottom: 0 !important;
}

.searchBox {
    display: flex;
    flex-direction: column;
    height: $card-searchbox-height;
}

.innerCardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - #{$card-searchbox-height});
    overflow-y: scroll;
}

.resultsQuery {
    padding-top: normalize(12);
}

.searchButton {
    margin-top: normalize(20) !important;
}
